name: CI
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
      - 'utils/*'
      - '.github/workflows/TagBot.yml'
  push:
    branches:
      - main
    paths-ignore:
      - 'LICENSE.md'
      - 'README.md'
      - 'utils/*'
      - '.github/workflows/TagBot.yml'
    tags: '*'
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.loopvectorization_test }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - 'lts'
          - '1' # automatically expands to the latest stable 1.x release of Julia.
          - 'pre'
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        loopvectorization_test:
          - part1
          - part2
          - part3
          - part4
          - part5
          - part6
        include:
          - version: 'lts'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part1
          - version: 'lts'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part2
          - version: 'lts'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part3
          - version: 'lts'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part4
          - version: 'lts'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part5
          - version: 'lts'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part6
          - version: '1'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part1
          - version: '1'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part2
          - version: '1'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part3
          - version: '1'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part4
          - version: '1'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part5
          - version: '1'
            os: macOS-latest
            arch: aarch64
            loopvectorization_test: part6
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          JULIA_NUM_THREADS: 4
          LOOPVECTORIZATION_TEST: ${{ matrix.loopvectorization_test }}
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v3
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - run: julia --color=yes -e 'using Pkg; VERSION >= v"1.5-" && !isdir(joinpath(DEPOT_PATH[1], "registries", "General")) && Pkg.Registry.add("General")'
        shell: bash
        env:
          JULIA_PKG_SERVER: ""
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
  doctests:
    name: Doctests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - run: julia --color=yes -e 'using Pkg; VERSION >= v"1.5-" && !isdir(joinpath(DEPOT_PATH[1], "registries", "General")) && Pkg.Registry.add("General")'
        shell: bash
        env:
          JULIA_PKG_SERVER: ""
      - run: |
          julia --project=docs -e '
            using Pkg
            Pkg.develop(PackageSpec(path=pwd()))
            Pkg.instantiate()'
      - run: |
          julia --project=docs -e '
            using Documenter: doctest
            using LoopVectorization
            doctest(LoopVectorization)'
